@model SuperKoikoukesse.Webservice.ViewModels.ImportResultModel
@{
    ViewBag.Title = "Import CSV";
}

<h3>Résultat import CSV</h3>

<p class="lead">@Model.Message</p>

@if (Model.IsSuccess == false)
{
    <h4>Détails des erreurs
    </h4>
    
    if (Model.Exception != null)
    {
    <p class="well">
        @Model.Exception.ToString()
    </p>
    }
    
    <h3>Uploader un nouveau fichier CSV
    </h3>
    
    @Html.Partial("ImportCSVForm")
}

<p>
    @Html.ActionLink("Retour index base de données", "Index", "GameDatabase")
</p>
