%html
  %head
    %title Super Koikoukesse

  %body
    %h1 Super Koikoukesse
    %p Administration du webservice

    %a(href="./") home
    %a(href="./questions") questions
    %a(href="./config") config
    %a(href="./players") players
    %a(href="./stats") stats

