%html
  %head
    %title Super Koikoukesse

  %body
    %h1 Super Koikoukesse
    %p Administration du webservice

    %a(href="./admin") home
    %a(href="./admin/questions") questions
    %a(href="./admin/config") config
    %a(href="./admin/players") players
    %a(href="./admin/stats") stats

