<form class="form-vertical" action="@Url.Action("ImportCSV","GameDatabase")" method="post" enctype="multipart/form-data">

    <label for="file">Importer fichier CSV</label>
    <input type="file" name="file" id="file" />

    <input class="btn btn-info" type="submit" value="Importer" />
</form>